@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    max-width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

header {
    text-align: center;
}

h1, h2 {
    font-family: Arial;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 480px) {
    * {
        text-align: center;
    }

    #img-div {
        background-image: url('../images/header.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 50vh;
    }

    #about-section {
        background-color: white;
    }

    #about-content {
        opacity: 0;
        transform: translate(0, 10%);
        transition-duration: 1s;
    }

        #about-content.fade-in {
            transform: translate(0, 0);
            opacity: 1;
        }

    #skills-section {
        background-color: #efefef;
        margin-top: 50%;
    }

        #skills-section img {
            width: 20%;
        }

    #skills-content {
        opacity: 0;
        transform: translate(0, 10%);
        transition-duration: 1s;
    }

        #skills-content.fade-in {
            opacity: 1;
            transform: translate(0, 0);
        }

    #projects-section {
        background-color: #DCDCDC;
        height: 110vh;
        margin-top: 50%;
    }

        #projects-section div {
            height: 30vh;
        }

    #projects-content {
        opacity: 0;
        transform: translate(0, 10%);
        transition-duration: 1s;
    }

    .Sultans-kitchen {

    }

    .flappy-bird {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .overlay {
        background-color: white;
        opacity: 0;
        transition-duration: 1s;
    }

        .overlay:hover {
            opacity: 1;
        }

    #contact {
        background-color: white;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    #contact-content a {
        display: inline-block;
        width: 50%;
        text-decoration: none;
    }

    #contact button {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid black;
        border-radius: 50px;
        width: 100%;
        transition-duration: 1s;
    }

        #contact button:hover {
            border-color: gray;
            color: gray;
            cursor: pointer;
        }

    footer {
        background-color: #353535;
    }

        footer img {
            width: 10%;
            margin-right: 10%;
        }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    * {
        text-align: center;
    }

    #img-div {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
    }

    #welcome {
        position: relative;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    #about-section {
        height: 100vh;
    }

    .profile-img {
        width: 50%;
        border-radius: 100%;
        box-shadow: 0 0 5px 5px black;
    }

    #about-content {
        opacity: 0;
        transform: translate(0, 10%);
        transition-duration: 1s;
    }

        #about-content.fade-in {
            transform: translate(0, 0);
            opacity: 1;
        }

    #skills-section {
        height: 100vh;
    }

    #skills-content img {
        width: 10%;
    }

    #skills-content {
        opacity: 0;
        transform: translate(0, 10%);
        transition-duration: 1s;
    }

        #skills-content.fade-in {
            opacity: 1;
            transform: translate(0, 0);
        }

    #projects-section {
        background: #DCDCDC;
        height: 180vh;
    }

        #projects-section div {
            height: 50vh;
        }

    #contact {
        background-color: white;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    #contact-content a {
        display: inline-block;
        width: 50%;
        text-decoration: none;
    }

    #contact button {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid black;
        border-radius: 50px;
        width: 100%;
        transition-duration: 1s;
    }

        #contact button:hover {
            border-color: gray;
            color: gray;
            cursor: pointer;
        }

    footer {
        background-color: #353535;
    }

        footer img {
            width: 10%;
            margin-right: 10%;
        }
}

@media screen and (min-width: 1024px) {

    * {
        margin: auto;
        color: #2f2f2f;
    }

    hr {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .nav-container {
        float: left;
        z-index: 5;
        width: 100%;
        height: 5vh;
    }

    .main-nav {
        width: 100%;
        text-align: center;
    }

    nav p {
        display: inline-block;
        margin-right: 5%;
        color: #f9f9f9;
        font-weight: 700;
        transition-duration: 1s;
        transform: translate(0, 65%);
    }

        nav p:hover {
            color: #f49b42;
            cursor: pointer;
        }

    #header {
        height: 100vh;
        background: url('../images/header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #header-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .name-container {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
    }

        .name-container span {
            display: block;
            color: #f9f9f9;
            font-size: 2em;
            margin-bottom: 2%;
        }

        .name-container button {
            display: block;
            width: 20%;
            color: #f9f9f9;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid white;
            border-radius: 50px;
            transition-duration: 1s;
        }

            .name-container button:hover {
                cursor: pointer;
                color: #f49b42;
                border: 1px solid #f49b42;
            }

    .card-container {
        background-color: #e8e8e8;
        padding-top: 10%;
    }

    #about-container {
        display: inline-flex;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        justify-content: space-between;
        max-width: 1500px;
        margin-bottom: 10%;
    }

    #about-section {
        text-align: center;
        width: 50%;
    }

    .profile-img {
        width: 25%;
    }

    #skills-section {
        width: 50%;
    }

        #skills-section h2 {
            margin-bottom: 5%;
            margin-left: 50%;
            transform: translate(-50%, 0);
        }

    #contributions {
        position: relative;
        text-align: center;
        background-color: #DCDCDC;
    }

        #contributions h2 {
            padding-top: 7%;
        }

    .contributions-content {
        text-align: center;
        max-width: 1500px;
    }

    .contributions-content h2 {
        margin-bottom: 5%;
    }

    .project-left {
        display: flex;
        padding-bottom: 10%;
    }

    .project-left div {
        width: 50%;
    }

    .project-logo {
        width: 500px;
        height: 250px;
    }

    .project-right {
        padding-bottom: 10%;
        display: flex;
        flex-direction: row-reverse;
    }

    .project-right div {
        width: 50%;
    }

    .tech {
        margin-top: 5%;
       width: 50px;
       height: 50px;
    }

    #projects-section {
        position: relative;
        text-align: center;
        max-width: 1500px;
    }

        #projects-section h2 {
            padding-top: 7%;
            margin-bottom: 5%;
        }

    .project-details {
        display: block;
    }

        .project-details button {
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid black;
            border-radius: 50px;
            transition-duration: 1s;
        }

            .project-details button:hover {
                cursor: pointer;
                color: white;
                background-color: orange;
                border: 1px solid orange;
            }

    #contact {
        position: relative;
        text-align: center;
        background-color: #DCDCDC;
        padding-bottom: 5%;
    }

    #contact-content {
        transition-duration: 1s;
        max-width: 1500px;
    }

    #contact h2 {
        padding-top: 7%;
    }

    #contact-content div {
        position: relative;
        margin-top: 5%;
    }

    #contact-content input {
        display: block;
        width: 30%;
        margin-bottom: 2%;
        text-align: center;
    }

    #contact-content textarea {
        width: 35%;
        height: 100px;
        margin-bottom: 1%;
    }

    #contact button {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid black;
        border-radius: 50px;
        width: 20%;
        transition-duration: 1s;
    }

        #contact button:hover {
            border-color: gray;
            color: gray;
            cursor: pointer;
        }

    footer {
        padding-top: 3%;
        height: 15%;
        background-color: #353535;
    }

        footer p {
            margin-left: 50%;
            transform: translate(-50%, 0);
            color: white;
            margin-bottom: 5%;
            text-align: center;
        }

    .social-media {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        text-align: center;
    }

        .linkedin-icon {
            margin: 0 3% 0 3%;
        }

        .social-media img {
            width: 4%;
        }
}
