/* general */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-semi-bold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-extra-bold';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

:root {
    --primaryColor: #383737;
    --secondaryColor: #f5865d;
    --lightColor: #fffafa;
    --lightGreyColor: #a8a8a8;
}

html {
    scroll-behavior: smooth;
}

* {
    color: var(--primaryColor);
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-extra-bold';
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

section h1 {
    font-size: 2rem;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-0 {
    margin: 0;
}

.mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.mr-4 {
    margin-right: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-6 {
    margin-bottom: 30px;
}

.p-0 {
    padding: 0;
}

.p-3 {
    padding: 10px;
}

.p-5 {
    padding: 20px;
}

.pl-3 {
    padding-left: 20px;
}

.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mt-2 {
    margin-top: 10px;
}

.my-5 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-6 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-center {
    text-align: center;
}

.text-orange {
    color: var(--secondaryColor);
}

.shadow {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.77);
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.77);
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.bg-dark-transparency {
    background-color: rgba(54, 53, 59, .8);
}

.bg-orange {
    background-color: var(--secondaryColor);
}

.btn {
    display: block;
    border: none;
    font-weight: 600;
    border-radius: 3px;
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    cursor: pointer;
}

.btn-inactive {
    background-color: var(--lightGreyColor);
    color: var(--primaryColor);
    cursor: not-allowed;
    outline: none;
}

.btn * {
    color: var(--lightColor);
}

.btn-large {
    padding: 12px 25px;
    font-size: .9rem;
}

.card {
    background-color: #e6e6e6;
    border: 1px dotted #bbbbbd;
    border-radius: 2px;
}

.card-header {
    text-align: center;
    background-color: var(--secondaryColor);
    padding: 10px 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-header * {
    color: var(--lightColor);
}

.card-body {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.card-title {
    position: relative;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;
}

.card-title * {
    color: var(--secondaryColor);
}

.card-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #a8a8a8;
}

img {
    max-width: 100%;
}

main {
    position: relative;
    width: 95%;
    margin: auto;
}

main section {
    margin: 80px 0;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    position: relative;
    margin: 0;
    padding: 5px 0 8px 20px;
    color: var(--secondaryColor);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.section-title .stripe {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 90px;
    height: 100%;
    background-color: #e6e5ea;
    z-index: -1;
    border: 1px dotted #bbbbbd;
    border-radius: 2px;
}

.section-title .dots {
    width: 30px;
    border-top: 2.8px dotted #bbbbbd;
    margin-left: 10px;
    margin-right: 2px;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--secondaryColor);
    margin-right: 5px;
    border: 3px solid #d0d0d2;
}

.section-title span:last-child {
    font-family: 'Montserrat-extra-bold', sans-serif;
    font-weight: 800;
    color: var(--lightGreyColor);
}

.underline {
    position: relative;
    padding-bottom: 10px;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100px;
    height: 3px;
    background-color: var(--secondaryColor);
}

/* navigation */

.app-title::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 5px;
    background-color: var(--secondaryColor);
}

.phone-nav {
    width: 45px;
    height: 35px;
    border-radius: 2px;
    background-color: var(--secondaryColor);
    z-index: 3;
    border: none;
    cursor: pointer;
}

.phone-nav div {
    width: 30px;
    height: 2px;
    background-color: var(--lightColor);
    transition-property: transform;
    transition-duration: .3s;
}

.phone-nav.close div:nth-child(2) {
    visibility: hidden;
}

.phone-nav.close div:first-child {
    transform: translateY(8px) rotate(45deg);
}

.phone-nav.close div:last-child {
    transform: translateY(-10px) rotate(-45deg);
}

.phone-nav div+div {
    margin-top: 7px;
}

.nav-container {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 1;
    background-color: var(--lightColor);
    padding: 10px 0;
}

.nav-container>div {
    width: 90%;
    margin: auto;
}

.nav-container>div a .app-title {
    margin: 0;
    padding: 0;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--lightColor);
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: .3s;
    z-index: 2;
}

.main-nav.display {
    transform: translateX(0);
}

.main-nav ul li a {
    display: block;
    padding: 15px 28px;
    text-transform: capitalize;
    font-family: 'Open-sans';
    font-weight: 600;
}

.main-nav ul a.active {
    color: var(--secondaryColor);
    background-color: #f2f2f3;
}


/* homepage header */

header {
    position: relative;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100vh;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, .45);
}

header * {
    color: var(--lightColor);
}

header>div:not(:last-child) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-width: 500px;
    margin: auto;
}

header h1 {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;

    /* needed to remove white space at the top of the page */
    margin: 0;
}

header span {
    font-size: .9rem;
    font-weight: 600;
    line-height: 2rem;
}

.waves-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
}

/* homepage about */

.about-section .section-title {
    margin: 20px 0;
}

.profile-img-container {
    position: relative;
    width: 100%;
    height: max-content;
    max-width: 450px;
    margin: auto;
    background-image: linear-gradient(to right, #fff, 45%, var(--secondaryColor));
    border-radius: 5px;
}

.profile-img-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -5px;
    width: 20%;
    height: 20%;
    border-top: 3px solid var(--secondaryColor);
    border-left: 3px solid var(--secondaryColor);
    border-radius: inherit;
}


.profile-img-container img {
    position: relative;
    right: 10px;
    bottom: 10px;
    width: 90%;
    border-radius: inherit;
    -webkit-box-shadow: 0px 0px 15px -8px #000000;
    box-shadow: 0px 0px 15px -8px #000000;
}

.about-section h3 {
    font-family: 'Montserrat-semi-bold', sans-serif;
    line-height: 1.8rem;
}

.muted-text {
    color: var(--lightGreyColor);
}

.light-text {
    color: #777577;
}

.small-text {
    font-size: .9rem;
}

/* home skills section */

.skills-section .card {
    width: 100%;
    background-color: #f2f2f3;
}

.skills-section svg * {
    color: var(--secondaryColor);
}

.bar {
    width: 30%;
    height: 3px;
    background-color: darkgrey;
}

.bar+.bar {
    margin-left: 3.33%;
}

.bar.highlighted {
    background-color: var(--secondaryColor);
}

/* resume section */
.timeline .circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    margin: 0;
    margin-bottom: 20px;
    border-color: #e6e6e6;
}

.timeline .circle::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 50px;
    background-color: #e6e6e6;
}

.timeline .card {
    position: relative;
    background-color: #f2f2f3;
    margin-bottom: 10px;
}

.timeline .card-header {
    position: relative;
}

.timeline .card-header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: var(--secondaryColor);
}

/* home portfolio section */


/* footer */
footer {
    background-color: #f2f2f3;
}

footer a * {
    color: #777577;
    transition-duration: .3s;
    transition-property: color;
}

footer a *:hover {
    color: var(--secondaryColor);
}

footer p {
    font-size: 1.2rem;
    font-family: 'Montserrat-extra-bold', sans-serif;
}

@media(min-width: 45em) {
    /* general */

    .d-flex-md {
        display: flex;
    }

    .flex-row-md {
        flex-direction: row;
    }

    .justify-content-between-md {
        justify-content: space-between;
    }

    .flex-20-md {
        flex: 20%;
    }

    .flex-basis-45-md {
        flex-basis: 45%;
    }

    main {
        max-width: 1500px;
    }

    /* navigation */

    .phone-nav {
        display: none;
    }

    .nav-container {
        transition-duration: .3s;
        transition-property: padding;
        background-color: transparent;
        padding: 15px 0;
    }

    .nav-container>div {
        max-width: 1500px;
    }

    .nav-container *:not(a.active) {
        color: var(--lightColor);
    }

    .nav-container.light {
        background-color: var(--lightColor);
        padding: 10px 0;
    }

    .nav-container.light *:not(a.active) {
        color: var(--primaryColor);
    }

    .main-nav {
        position: initial;
        width: initial;
        height: initial;
        transform: translate(0, 0);
        background-color: transparent;
    }

    .main-nav .app-title {
        display: none;
    }

    .main-nav ul a.active {
        background-color: transparent;
    }

    .main-nav ul li a {
        position: relative;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        transition-property: color;
        transition-duration: .3s;
    }

    .main-nav ul li+li {
        margin-left: 15px;
    }

    .main-nav ul li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--secondaryColor);
        width: 0;
        height: 1px;
        opacity: 0;
        transition-property: width opacity;
        transition-duration: .3s;
    }

    .main-nav ul a.active::after {
        width: 100%;
        opacity: 1;
    }

    .main-nav ul li a:hover {
        color: var(--secondaryColor) !important;
    }

    .main-nav ul li a:hover::after {
        width: 100%;
        opacity: 1;
    }

    /* skills */

    .skills-section .cards-container {
        padding: 5px;
    }

    .skills-section .card {
        margin: 5px;
        height: 150px;
    }

    /* portfolio */

    .timeline-container {
        margin-bottom: 80px;
    }

    .timeline {
        position: relative;
    }

    .timeline::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 88%;
        background-color: #e6e6e6;
    }

    .timeline .card {
        width: 45%;
        max-width: 1000px;
    }

    .timeline .card.right {
        margin-left: auto;
    }

    .timeline .card.left .card-header::before {
        top: 50%;
        left: 100%;
        transform: translate(-15px, -50%) rotate(45deg);
    }

    .timeline .card.right .card-header::before {
        top: 50%;
        left: -5px;
        transform: translate(0, -50%) rotate(45deg);
    }

    .timeline .circle {
        float: left;
        margin-top: 15px;
    }

    .timeline .circle::after {
        display: none;
    }
}